<header>
    <div class="creuna-logo">
        <img src="assets/logo.svg" alt="Creuna logo" width="250" height="250">
        <div class="creuna-headline">Angular workshop</div>
    </div>

    <div class="background-sky hero"></div>
    <section class="center-container">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__supporting-text">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col">
                        <div class="mdl-textfield">
                            <input class="mdl-textfield__input" type="text" [value]="name" (input)="handleChange($event.target.value)" />
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col">{{ name }}</div>
                </div>
            </div>
        </div>
    </section>
</header>