<header>
    <div class="creuna-logo">
        <img src="assets/logo.svg" alt="Creuna logo" width="250" height="250">
        <div class="creuna-headline">Angular workshop</div>
    </div>

    <div class="background-sky hero"></div>
    <section class="center-container">
        <div class="showcase">
            <div class="showcase-section">
                <button>change name</button>
                <div>
                    <input type="text" [value]="name" (input)="handleChange($event.target.value)" />

                    <p *ngIf="name.length">Searching for... {{ name }}</p>

                    <ng-template [ngIf]="name.length">
                        <p>Searching for... {{ name }}</p>
                    </ng-template>
                </div>
            </div>

            <div class="showcase-section">
                <ul class="demo-list">
                    <li *ngFor="let player of players;">
                        <div class="player-label">
                            <p>{{ player.name }}</p>
                            <span>{{ player.matchesPlayed }} Matches played</span>
                        </div>
                        <div class="player-status" *ngIf="player.pro">
                            pro
                        </div>
                    </li>
                    <ng-template ngFor let-player [ngForOf]="players">
                        <li>
                            <div class="player-label">
                                <p>{{ player.name }}</p>
                                <span>{{ player.matchesPlayed }} Matches played</span>
                            </div>
                            <div class="player-status" *ngIf="player.pro">
                                pro
                            </div>
                        </li>
                    </ng-template>
                </ul>
            </div>
        </div>
    </section>
</header>