/* You can add global styles to this file, and also import other style files */

body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #333;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

app-root {
  display: block;
}

.background-sky {
  background-color: #1976d2;
  background: linear-gradient(145deg, #0d47a1, #42a5f5);
  color: #fff;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 900px;
  min-height: 480px;
  margin: 0 auto -32px;
  padding: 108px 0 0;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 480px;
  height: 80vh;
  max-height: 560px;
  box-sizing: border-box;
  padding: 48px 48px 32px;
  overflow: hidden;
  -webkit-transform: skewY(8deg);
  transform: skewY(8deg);
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
}

.creuna-logo {
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  top: 20px;
  left: 20px;
}

.creuna-logo img {
  width: 80px;
  height: 80px;
  padding: 0;
  -webkit-filter: drop-shadow(0 2px 2px rgba(10, 16, 20, 0.24));
  filter: drop-shadow(0 2px 2px rgba(10, 16, 20, 0.24));
}

.creuna-headline {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 500;
  margin-left: 15px;

  color: #fff;
}

.showcase {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 500px;
  max-width: 900px;
  min-height: 250px;
  margin: 0;
  padding: 16px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
  box-sizing: border-box;
}

.showcase-section {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  padding: 5px 0;
}

button, .button {
  box-sizing: border-box;
  display: inline-block;

  height: 40px;
  min-width: 160px;
  font-size: 16px;

  line-height: 32px;
  padding: 0 16px;
  margin: 0 8px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  border: none;

  color: #fff;
  background-color: #1976d2;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  cursor: pointer;

}
button:hover,
.button:hover {
  color: rgba(255,255,255,.7);
}

button.button-small {
  min-width: auto;
  height: 20px;
  padding: 0 8px;
  font-size: 12px;
  line-height: 18px;
}

input[type="text"] {
  height: 38px;
  padding: 0 8px;
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 1.4;

  border: 1px solid #eee;
}
input[type="text"]:focus {
  outline: 1px solid #42a5f5;
}

.demo-list {
  flex: 2;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.demo-list > li,
.player-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;

  border-bottom: 1px solid #eee;
}
.demo-list > li:last-child,
.player-detail:last-child {
  border-bottom: none;
}

.demo-list > li .player-label,
.player-detail .player-label {
  flex: 2;
}

.demo-list > li .player-label > p,
.player-detail .player-label > p {
  margin-bottom: 0;
  font-weight: 600;
}

.demo-list > li .player-label > span,
.player-detail .player-label > span {
  font-size: 12px;
}

.demo-list > li .player-status,
.player-detail .player-status {
  flex: 0 1 auto;
}

.player-count {
  display: block;
  padding: 8px 0;
}

.player-count > h2 {
  margin-bottom: 5px;
}
